pydicom
orderedset
keras<2
tensorflow
matplotlib
numpy
django
celery
gunicorn
boto3
dj-database-url
django-dotenv
psycopg2
redis
django-storages
h5py
djangorestframework
requests
whitenoise
factory_boy
django-debug-toolbar
