@import '../../common/base';

#tolerance-form {
  .inline-group {
    display: flex;
    align-items: center;

    input {
      margin-right: $small-spacing;
      margin-bottom: 0;
    }

    #tolerance-tolerance {
      width: 150px;
    }

    .fa {
      font-size: 24px;
    }
  }
}
