{% extends "base.html" %}

{% load common %}

{% block styles %}
  <link rel="stylesheet" href="{% webpack 'dicom_overlay.css' %}">
{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'landing' %}">Home</a>
  {% include 'includes/breadcrumb_sep.html' %}
  <a href="{% url 'machine_sequence_detail' scan.machine_sequence_pair.pk %}">
    {{ scan.machine_sequence_pair.machine.name }} &mdash; {{ scan.machine_sequence_pair.sequence.name }}
  </a>
{% endblock %}

{% block content %}
  <h1>DICOM Overlay</h1>
  <form method="post" class="cirs-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      {{ form.study_instance_uid.label_tag }}
      {{ form.study_instance_uid }}
      {{ form.study_instance_uid.errors }}
      {{ form.study_instance_uid.help_text|safe }}
    </div>
    <div>
      {{ form.patient_id.label_tag }}
      {{ form.patient_id }}
      {{ form.patient_id.errors }}
      {{ form.patient_id.help_text|safe }}
    </div>
    <div>
      <label>Isocenter (mm)</label>
      <div class="isocenter">
        {{ form.isocenter_x.label_tag }}
        {{ form.isocenter_x }}
        {{ form.isocenter_y.label_tag }}
        {{ form.isocenter_y }}
        {{ form.isocenter_z.label_tag }}
        {{ form.isocenter_z }}
      </div>
      {{ form.isocenter_x.errors }}
      {{ form.isocenter_y.errors }}
      {{ form.isocenter_z.errors }}
      {{ form.isocenter_x.help_text|safe }}
      {{ form.isocenter_y.help_text|safe }}
      {{ form.isocenter_z.help_text|safe }}
    </div>
    <div>
      {{ form.frame_of_reference_uid.label_tag }}
      {{ form.frame_of_reference_uid }}
      {{ form.frame_of_reference_uid.errors }}
      {{ form.frame_of_reference_uid.help_text|safe }}
    </div>
    <div class="form-links">
      <a href="{% url 'machine_sequence_detail' scan.machine_sequence_pair.pk %}" class="btn tertiary">Cancel</a>
      <input type="submit" value="Generate DICOM Overlay" class="btn secondary">
    </div>
  </form>
{% endblock %}
