{% extends "base.html" %}

{% load static %}
{% load common %}

{% block styles %}
  <link rel="stylesheet" href="{% webpack 'machine_sequence_detail.css' %}">
{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'landing' %}">Home</a>
  {% include 'includes/breadcrumb_sep.html' %}
{% endblock %}

{% block content %}
  <div id="machine-sequence-detail-app"></div>
{% endblock %}

{% block scripts %}
  {% chunk_manifest %}
  {% manifest %}
  <script src="{% webpack 'vendor.js' %}"></script>
  <script>
    var MACHINE_SEQUENCE_PAIR = {{ machine_sequence_pair_json|safe }};
    var SCANS = {{ scans_json|safe }};
    var UPLOAD_SCAN_URL = "{% url 'upload_scan' %}?machine={{ machine_sequence_pair.machine.pk }}&sequence={{ machine_sequence_pair.sequence.pk }}";
    var UPDATE_TOLERANCE_URL = "{% url 'update_tolerance' %}";
    var FORM_ERRORS = {% if form_errors %}{{ form_errors|safe }}{% else %}null{% endif %};
  </script>
  <script src="{% webpack 'machine_sequence_detail.js' %}"></script>
{% endblock %}
