{% extends "base.html" %}

{% load static %}
{% load common %}

{% block styles %}
  <link rel="stylesheet" href="{% webpack 'update_phantom.css' %}">
{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'landing' %}">Home</a>
  {% include 'includes/breadcrumb_sep.html' %}
  <a href="{% url 'configuration' %}">Configuration</a>
{% endblock %}

{% block content %}
  <div id="update-phantom-app"></div>
{% endblock %}

{% block scripts %}
  {% chunk_manifest %}
  {% manifest %}
  <script src="{% webpack 'vendor.js' %}"></script>
  <script>
    var PHANTOM = {{ phantom_json|safe }};
    var GOLDEN_FIDUCIALS_SET = {{ golden_fiducials_set_json|safe }};
    var FORM_ACTION = "{% url 'update_phantom' phantom.pk %}";
    var POLL_CT_URL = "{% url 'poll_ct' %}";
  </script>
  {% include 'includes/json_form.html' %}
  <script src="{% webpack 'update_phantom.js' %}"></script>
{% endblock %}
