{% extends "base.html" %}

{% load common %}

{% block styles %}
  <link rel="stylesheet" href="{% webpack 'register.css' %}">
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'landing' %}">Home</a></li>
{% endblock %}

{% block content %}
  <div id="register-app"></div>
{% endblock %}

{% block scripts %}
  {% chunk_manifest %}
  {% manifest %}
  <script src="{% webpack 'vendor.js' %}"></script>
  <script>
    var VALIDATE_SERIAL_URL = "{% url 'validate_serial' %}";
    var CANCEL_URL = "{% url 'login' %}";
    var FORM_ACTION = "{% url 'register' %}";
  </script>
  {% include 'includes/json_form.html' %}
  <script src="{% webpack 'register.js' %}"></script>
{% endblock %}
