{% extends "base.html" %}

{% block breadcrumbs %}
  <a href="{% url 'landing' %}">Home</a>
  {% include 'includes/breadcrumb_sep.html' %}
{% endblock %}

{% block content %}
  <h1>Scan Errors</h1>
  <p>
    We were unable to complete our analysis of the scan uploaded on {{ scan.created_on }}.
  </p>
  <p>{{ scan.errors }}</p>
  <p>
    Details about the failure were logged, and our engineers were notified.  They
    will investigate the failure and will be in contact you at your email
    address:
  </p>
  <p>{{ request.user.email }}</p>
  <p>
    Thank you for your patience with us while the Distortion Check software is in
    Beta.
  </p>
{% endblock %}
