{% extends "base.html" %}

{% block breadcrumbs %}
  <a href="{% url 'landing' %}">Home</a>
  {% include 'includes/breadcrumb_sep.html' %}
{% endblock %}

{% block content %}
  <h1>Scan Errors</h1>
  <p>
    We were unable to complete our analysis of the scan uploaded on {{ scan.created_on }}.
  </p>
  <p>{{ scan.errors }}</p>
  <p>
    Details about the failure were logged, and our engineers were notified.  They
    will investigate the failure and may contact you at your account email
    address, {{ request.user.email }}.  Also, please feel free to get in touch with us at software@cirsinc.com.
  </p>
  <p>
    Thank you for your patience while the Distortion Check software is in
    Beta.
  </p>
{% endblock %}
