{% extends "base.html" %}

{% block breadcrumbs %}
  <a href="{% url 'landing' %}">Home</a>
  {% include 'includes/breadcrumb_sep.html' %}
{% endblock %}

{% block content %}
  <h1>Scan Errors</h1>
  <p>{{ scan.errors }}</p>
  <br>
  <p>Details about the scan have been logged, and our engineers have been notified.  They will be investigating the cause of the failure and will be in contact you at your email address:</p>
  <p>{{ request.user.email }}</p>
  <p>Thank you for your patience while the Distortion Check software is in Beta.
{% endblock %}
