{% extends "base.html" %}

{% load common %}

{% block styles %}
  <link rel="stylesheet" href="{% webpack 'upload_ct.css' %}">
{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'landing' %}">Home</a>
  {% include 'includes/breadcrumb_sep.html' %}
  <a href="{% url 'configuration' %}">Configuration</a>
  {% include 'includes/breadcrumb_sep.html' %}
  <a href="{% url 'update_phantom' phantom.pk %}">Edit Phantom {{ phantom.name }}</a>
{% endblock %}

{% block content %}
  <div id="upload-ct-app"></div>
{% endblock %}

{% block scripts %}
  {% chunk_manifest %}
  {% manifest %}
  <script src="{% webpack 'vendor.js' %}"></script>
  <script>
    var CANCEL_URL = "{% url 'update_phantom' phantom.pk %}";
    var SIGN_S3_URL = "{% url 'sign_s3' %}";
    var FORM_ACTION = "{% url 'upload_ct' phantom.pk %}";
  </script>
  {% include 'includes/json_form.html' %}
  <script src="{% webpack 'upload_ct.js' %}"></script>
{% endblock %}
