{% extends "base.html" %}

{% load common %}

{% block styles %}
  <link rel="stylesheet" href="{% webpack 'upload_scan.css' %}">
{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'landing' %}">Home</a>
  {% include 'includes/breadcrumb_sep.html' %}
{% endblock %}

{% block content %}
  <div id="upload-scan-app"></div>
{% endblock %}

{% block scripts %}
  {% chunk_manifest %}
  {% manifest %}
  <script src="{% webpack 'vendor.js' %}"></script>
  <script>
    var MACHINES = {{ machines_json|safe }};
    var SEQUENCES = {{ sequences_json|safe }};
    var PHANTOMS = {{ phantoms_json|safe }};
    var CANCEL_URL = "{% if request.GET.cancel %}{{ request.GET.cancel }}{% else %}{% url 'landing' %}{% endif %}";
    var SIGN_S3_URL = "{% url 'sign_s3' %}";
    var INITIAL_MACHINE_PK = {% if request.GET.machine %}{{ request.GET.machine }}{% else %}null{% endif %};
    var INITIAL_SEQUENCE_PK = {% if request.GET.sequence %}{{ request.GET.sequence }}{% else %}null{% endif %};
    var FORM_ACTION = "{% url 'upload_scan' %}";
  </script>
  {% include 'includes/json_form.html' %}
  <script src="{% webpack 'upload_scan.js' %}"></script>
{% endblock %}
