{% extends "base.html" %}

{% block breadcrumbs %}
  <a href="{% url 'landing' %}">Home</a>
  {% include 'includes/breadcrumb_sep.html' %}
  <a href="{% url 'configuration' %}">Configuration</a>
{% endblock %}

{% block content %}
  <h1>Add User</h1>
  <form method="post" class="cirs-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      {{ form.first_name.errors }}
      {{ form.first_name.label_tag }}
      {{ form.first_name }}
      <p>{{ form.first_name.help_text }}</p>
    </div>
    <div>
      {{ form.last_name.errors }}
      {{ form.last_name.label_tag }}
      {{ form.last_name }}
      <p>{{ form.last_name.help_text }}</p>
    </div>
    <div>
      {{ form.email.errors }}
      {{ form.email.label_tag }}
      {{ form.email }}
      <p>{{ form.email.help_text }}</p>
    </div>
    <div>
      {{ form.user_type.errors }}
      {{ form.user_type.label_tag }}
      <div class="inline-radio">
        {% for choice in form.user_type %}
          {{ choice }}
        {% endfor %}
      </div>
      <p>{{ form.user_type.help_text }}</p>
    </div>
    <div class="form-links">
      <a href="{% url 'configuration' %}" class="btn tertiary">Cancel</a>
      <input type="submit" value="Add User" class="btn secondary">
    </div>
  </form>
{% endblock %}
