{% extends "base.html" %}

{% block breadcrumbs %}
  <a href="{% url 'landing' %}">Home</a>
  {% include 'includes/breadcrumb_sep.html' %}
  <a href="{% url 'configuration' %}">Configuration</a>
{% endblock %}

{% block content %}
  <h1>Add User</h1>
  <form method="post" class="cirs-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% include 'includes/form_field.html' with field=form.first_name %}
    {% include 'includes/form_field.html' with field=form.last_name %}
    {% include 'includes/form_field.html' with field=form.email %}
    <div>
      {{ form.user_type.label_tag }}
      <div class="inline-radio">
        {% for choice in form.user_type %}
          {{ choice }}
        {% endfor %}
      </div>
      {{ form.user_type.errors }}
      <p>{{ form.user_type.help_text|safe }}</p>
    </div>
    <div class="form-links">
      <a href="{% url 'configuration' %}" class="btn tertiary">Cancel</a>
      <input type="submit" value="Add User" class="btn secondary">
    </div>
  </form>
{% endblock %}
