{% extends "base.html" %}

{% load common %}

{% block styles %}
  <link rel="stylesheet" href="{% webpack 'login.css' %}">
{% endblock %}

{% block content %}
  <div id="login">
    <h1>CIRS Distortion Check</h1>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.GET.next }}" />
      {% for field in form %}
        <div>
          {{ field.label_tag|title }}
          {{ field }}
          {{ field.errors }}
          {% if field.help_text %}<p>{{ field.help_text|safe }}</p>{% endif %}
        </div>
      {% endfor %}
      <input type="submit" value="Login" class="btn secondary" />
      <p class="forgot-password"><a href="{% url 'password_reset' %}">Forgot your Password?</a></p>
      {{ form.non_field_errors }}
      <a href="{% url 'register' %}" class="btn primary register">Register New Account</a>
    </form>
  </div>
{% endblock %}
