table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  width: 100%;
}

th {
  padding: $small-spacing * (2 / 3);
  text-align: left;
}

td {
  padding: $small-spacing * (2 / 3);
}

tr,
td,
th {
  vertical-align: middle;
}
