@import '../../common/base';

.phantom-details {
  margin: 0 $base-spacing $base-spacing;

  p {
    margin-left: 0;
    margin-right: 0;
  }
}

.update-phantom-links {
  display: flex;
  justify-content: flex-end;
  margin-right: $base-spacing;

  & > * {
    margin-left: $small-spacing;
  }
  margin-bottom: $base-spacing;
}

.cirs-form {
  .inline-group {
    display: flex;
    margin-bottom: $small-spacing;

    input:not([type="submit"]) {
      margin-right: $small-spacing;
      margin-bottom: 0;
    }
  }
}
