<header id="site-header">
  {% if request and request.user.is_authenticated %}
    <ul>
      <li>Logged in as {{ request.user.get_full_name }}</li>
      {% if perms.common.configuration %}
        <li><a href="{% url 'configuration' %}">Configuration</a></li>
      {% endif %}
      <li><a href="{% url 'account' %}">Account</a></li>
      <li><a href="http://www.cirsinc.com/distortion-check-software-user-guide">User Manual</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    <h1>
      <a href="{% url 'landing' %}" class="title">
        <span class="logo">CIRS</span>
        <span class="distortion-logo">Distortion Check</span>
      </a>
    </h1>
  {% else %}
    <ul>
      <li><a href="{% url 'login' %}">Login</a></li>
    </ul>
  {% endif %}
</header>
