@import '../common/base';

.institution-form {
  margin: $small-spacing;

  input:not([type="submit"]),
  textarea {
    width: 500px;
  }
}

.phantoms,
.machines,
.sequences,
.users {
  position: relative;

  .btn {
    position: absolute;
    width: 120px;
    top: 0;
    right: $small-spacing;
  }
}
