$max-site-width: 1200px;
$header-height: 54px;
$footer-height: 37px;
$primary-color: rgb(14, 106, 174);
$secondary-color: rgb(150, 7, 47);
$tertiary-color: rgb(77, 132, 167);
$success-color: rgb(121, 190, 58);
$error-color: rgb(189, 57, 50);

$all-buttons: append($all-buttons, '.btn');
