@import '~normalize.css/normalize';
@import '~bourbon/app/assets/stylesheets/bourbon';
@import 'variables';
@import 'bitters/base';

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  position: relative;
  min-height: calc(100% - #{$header-height} - #{$footer-height});
  padding-top: $header-height;
  padding-bottom: $footer-height;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: $max-site-width;
  margin: 0 auto;
  overflow: auto;
}

#site-content {
  .container {
    position: relative;
    padding-top: $small-spacing;
  }
}

#site-header {
  background-color: $primary-color;
  color: white;
  overflow: auto;
  height: $header-height;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }

  h1 {
    margin: 0 $small-spacing;

    a:hover {
      text-decoration: none;
    }
  }

  a {
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0 $small-spacing;
    padding: 0;

    li {
      display: inline-block;
      margin-left: $small-spacing;
    }
  }
}

#site-footer {
  background-color: $primary-color;
  height: $footer-height;
  color: white;
  overflow: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 14px;

  .container {
    display: flex;
    align-items: center;
    padding: 8px 16px;
  }

  a {
    color: white;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 16px;
    }
  }
}

.cirs-table {
  tr.a {
    background-color: rgb(241, 241, 241);
  }

  th {
    font-weight: normal;
    color: rgb(146, 146, 146);
  }
}

.fa {
  &.fa-check {
    color: $success-color;
    font-weight: bold;
  }

  &.fa-times {
    color: $error-color;
    font-weight: bold;
  }
}

#{$all-buttons} {
  &:hover {
    text-decoration: none;
  }

  &.primary {
    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }

  &.secondary {
    background-color: $secondary-color;

    &:hover {
      background-color: darken($secondary-color, 5%);
    }
  }

  &.tertiary {
    background-color: $tertiary-color;

    &:hover {
      background-color: darken($tertiary-color, 5%);
    }
  }
}
